#

In [1]:
x=1
y=2
x+y

3

In [2]:
x

1

In [3]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

In [4]:
def add_numbers(x,y,z):
    return x+y+z

add_numbers(1,2,3)

6

In [5]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [6]:
def add_numbers(x,y,z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1,2, flag=True))

Flag is true!
3

In [7]:
def add_numbers(x,y):
    return x+y

a=add_numbers

a(1,2)

3

In [18]:
def do_math(a, b, kind = 'add' ):  

    if (kind=='add'):  
       return a+b  

    else:
       return a-b

do_math(1, 2)

3

# The Python Programming Language: Types and Sequaences

In [ ]:
https://github.com/sidsriv/Introduction-to-Data-Science-in-python/blob/master/Week%2B1.ipynb

In [1]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [6]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:person.split()[0]+''+person.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0]+' '+person.split()[-1],people))

False
False
False
False

True

In [4]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [7]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [10]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

In [9]:
# generate all possible combos of xx99

lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = ['{0}{1}{2:02}'.format(c1, c2, n)
          for c1 in lowercase
          for c2 in lowercase
          for n in range(100)]

print(answer[0:100])
# for i in range(len(answer)):
#     if i % 10000 == 0:
#         print(answer[i])

# answer = [???]
# correct_answer == answer

['aa00', 'aa01', 'aa02', 'aa03', 'aa04', 'aa05', 'aa06', 'aa07', 'aa08', 'aa09', 'aa10', 'aa11', 'aa12', 'aa13', 'aa14', 'aa15', 'aa16', 'aa17', 'aa18', 'aa19', 'aa20', 'aa21', 'aa22', 'aa23', 'aa24', 'aa25', 'aa26', 'aa27', 'aa28', 'aa29', 'aa30', 'aa31', 'aa32', 'aa33', 'aa34', 'aa35', 'aa36', 'aa37', 'aa38', 'aa39', 'aa40', 'aa41', 'aa42', 'aa43', 'aa44', 'aa45', 'aa46', 'aa47', 'aa48', 'aa49', 'aa50', 'aa51', 'aa52', 'aa53', 'aa54', 'aa55', 'aa56', 'aa57', 'aa58', 'aa59', 'aa60', 'aa61', 'aa62', 'aa63', 'aa64', 'aa65', 'aa66', 'aa67', 'aa68', 'aa69', 'aa70', 'aa71', 'aa72', 'aa73', 'aa74', 'aa75', 'aa76', 'aa77', 'aa78', 'aa79', 'aa80', 'aa81', 'aa82', 'aa83', 'aa84', 'aa85', 'aa86', 'aa87', 'aa88', 'aa89', 'aa90', 'aa91', 'aa92', 'aa93', 'aa94', 'aa95', 'aa96', 'aa97', 'aa98', 'aa99']