# Assignment 2

# Question 1

In [1]:
import pandas as pd

df=pd.read_csv('NISPUF17.csv')
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447419,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [2]:
df.columns

Index(['Unnamed: 0', 'SEQNUMC', 'SEQNUMHH', 'PDAT', 'PROVWT_D', 'RDDWT_D',
       'STRATUM', 'YEAR', 'AGECPOXR', 'HAD_CPOX',
       ...
       'XVRCTY2', 'XVRCTY3', 'XVRCTY4', 'XVRCTY5', 'XVRCTY6', 'XVRCTY7',
       'XVRCTY8', 'XVRCTY9', 'INS_STAT2_I', 'INS_BREAK_I'],
      dtype='object', length=454)

In [6]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

# Question 2

In [7]:
def average_influenza_doses():
    # YOUR CODE HERE
    
    import numpy as np
    df = pd.read_csv("NISPUF17.csv")
    x1 = df[df['CBF_01'] == 1]
    x2 = df[df['CBF_01'] == 2]
    
    return np.mean(x1['P_NUMFLU']), np.mean(x2['P_NUMFLU'])
    #raise NotImplementedError()

In [8]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

# Question 3

In [9]:
def chickenpox_by_sex():
    # YOUR CODE HERE
    import pandas as pd
    df = pd.read_csv("NISPUF17.csv")
    
    x_m = df[(df['P_NUMVRC'] >=1) & (df['HAD_CPOX'] == 1) & (df['SEX'] == 1)]
    x_f = df[(df['P_NUMVRC'] >=1) & (df['HAD_CPOX'] == 1) & (df['SEX'] == 2)]
    y_m = df[(df['P_NUMVRC'] >=1) & (df['HAD_CPOX'] == 2) & (df['SEX'] == 1)]
    y_f = df[(df['P_NUMVRC'] >=1) & (df['HAD_CPOX'] == 2) & (df['SEX'] == 2)]
    
    b_m = x_m.shape[0]/y_m.shape[0]
    b_f = x_f.shape[0]/y_f.shape[0]
    b = [b_m, b_f]
    
    sex = ['male', 'female']
    a = {}
    i = 0
    for s in sex:
        a[s] = b[i]
        i+=1
    return a  
    #raise NotImplementedError()

In [10]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

# Question 4

In [13]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    df = pd.read_csv("NISPUF17.csv")
    

    x = df[(df['P_NUMVRC'] >=0) & (df['HAD_CPOX'] <= 2)]
    
    no_yes = x['HAD_CPOX']
    
    est_vaccine = x['P_NUMVRC']
    
    # this is just an example dataframe
    df1=pd.DataFrame({"had_chickenpox_column":no_yes,
                   "num_chickenpox_vaccine_column":est_vaccine})

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df1["had_chickenpox_column"],df1["num_chickenpox_vaccine_column"])
    
    # just return the correlation
    return corr
    
    # YOUR CODE HERE
    #raise NotImplementedError()

In [14]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."