# Python Practice Part 1 - The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

Use function add_function

In [2]:
def add_numbers(x,y):
    return x+y
add_numbers(2, 3)

5

Use add_numbers updated to take an optional 3rd parameter. 
Using print allows printing of multiple expressions within a single cell.

In [3]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

Use optional flag parameter

In [4]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

Let's assign a value to add_numbers

In [5]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(2,3)

5

# The Python Programming Language: Types and Sequences

Use type to return the object's type.

In [6]:
type('This is a string')

str

In [7]:
type(None)

NoneType

In [8]:
type(1)

int

In [9]:
type(1.0)

float

In [10]:
type(add_numbers)

function

Tuples are immutable data structure - that cannot be altered

In [11]:
x = (1, 'a', 2, 'b')
type(x)

tuple

Lists are mutable data structure

In [12]:
x = [1, 'a', 2, 'b']
type(x)

list

Use append to append an an objectof a list

In [13]:
x.append(3.5)
print(x)

[1, 'a', 2, 'b', 3.5]

In [15]:
x.append('t')
print(x)

[1, 'a', 2, 'b', 3.5, 2, 't']

Use Loop - loop each element in the list x

In [16]:
for item in x:
    print(item)

1
a
2
b
3.5
2
t

Other method of above loop

In [17]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.5
2
t

Concatenation in list

In [19]:
[1,2] + [3,4]

[1, 2, 3, 4]

Use * to repeat list

In [20]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
[[1,2,3]]*3

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

Use in operator to find an element in a list

In [24]:
1 in [1, 2, 3]

True

In [25]:
5 in [1, 2, 3]

False

# Slicing

In [26]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

Last element

In [27]:
x[-1]

'g'