# Working with Text Data in Pandas

In [2]:
import pandas as pd

In [3]:
time_sentences=["Monday: The doctor's appointment is at 2:45pm.", 
                "Tuesday: The dentist's appointment is at 11:30 am.",
                "Wednesday: At 7:00pm, there is a basketball game!",
                "Thursday: Be back home by 11:15 pm at the latest.",
                "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df=pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [4]:
print(df)

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

## Find no. of characters for each string df

In [5]:
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

## Find no. of tokens(No. of words) for each string in df

In [6]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

## Find which entries contains the word 'appointment'

In [7]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

## Find how many times a digit occurs in each string

In [8]:
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

## Find digits in each string

In [9]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

## Group each digit and find the hoursand minutes

In [11]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

## Replace weekdays with ???

In [17]:
df['text'].str.replace(r'\weekday\b', '???')

<ipython-input-17-7e7a96628d6b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\weekday\b', '???')

0       Monday: The doctor's appointment is at 2:45pm.
1    Tuesday: The dentist's appointment is at 11:30...
2    Wednesday: At 7:00pm, there is a basketball game!
3    Thursday: Be back home by 11:15 pm at the latest.
4    Friday: Take the train at 08:10 am, arrive at ...
Name: text, dtype: object

In [16]:
df['text'].str.replace(r'\w+day\b', '???')

<ipython-input-16-67ace3c45c8d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

## Replace weekday with first three letters i.e. abbrevations

In [19]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

<ipython-input-19-029dae871195>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

## Create new columns from first match of extracted groups

In [20]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

# Extract the entire time, the hours, the minutes, and the period

In [22]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

# Extract the entire time, the hours, the minutes, and the period with group names

In [24]:
df['text'].str.extractall(r'(?P<Time>(?P<Hour>\d?\d):(?P<Minute>\d\d) ?(?P<Period>[ap]m))')

             Time Hour Minute Period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am