In [1]:
def square(n):
    return n*n

def sum_squares(x):
    sum = 0
    for n in ___:
        sum += __
    return __

In [2]:
def square(n):
    return n*n

def sum_squares(x):
    sum = 0
    for n in range(x):
        sum += square(n)
    return sum
print(sum_squares(10)) # Should be 285

285

In [3]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
    print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [7]:
values = [23,52,59,37,48]
sum=0
length=0
for value in values:
    sum+=value
    length += 1
print("Total sum: " + str(sum) + " Average: " + str(sum/length))

Total sum: 219 Average: 43.8

In math, the factorial of a number is defined as the product of an integer and all the integers below it. For example, the factorial of four (4!) is equal to 1*2*3*4=24. Fill in the blanks to make the factorial function return the right number.

In [13]:
product=1
for n in range(1,10):
    product=product*n
print(product)

362880

In [11]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *=i
    return result

print(factorial(4)) # should return 24
print(factorial(5)) # should return 120

24
120

In [12]:
def to_celsius(x):
    return (x-32)*5/9
for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

# Nested for loops

In [14]:
# Use parameter end=

for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" +str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [15]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team!=away_team:
            print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

In [18]:
def great_friends(friends):
    for friend in friends:
        print("Hi " + friend)
great_friends(['Taylor', 'Luisa', 'Jamaal', 'Eli'])

Hi Taylor
Hi Luisa
Hi Jamaal
Hi Eli

In [19]:
great_friends("Taylor")

Hi T
Hi a
Hi y
Hi l
Hi o
Hi r

The validate_users function is used by the system to check if a list of users is valid or invalid. A valid user is one that is at least 3 characters long. For example, ['taylor', 'luisa', 'jamaal'] are all valid users. When calling it like in this example, something is not right. Can you figure out what to fix?

In [ ]:
def validate_users(users):
  for user in users:
    if is_valid(user):
      print(user + " is valid")
    else:
      print(user + " is invalid")

validate_users("purplecat")

In [23]:
def validate_users(users):
    for user in users:
        if is_valid(user):
            print(user + " is valid")
        else:
            print(user + " is invalid")
            
validate_users([]"purplecat"])

SyntaxError: invalid syntax (<ipython-input-23-eb001f0aaa5c>, line 8)

In [ ]:
# Fill in the blanks to make the factorial function return the factorial of n. Then, print the first 10 factorials (from 0 to 9) with the corresponding number. Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.

def factorial(n):
    result = 1
    for x in range(1,n+1):
        result = ___ * ___
    return ___

for n in range(___,___):
    print(n, factorial(n+___))

In [1]:
def factorial(n):
    result = 1
    for x in range(1,n):
        result *= x
    return result

for n in range(0,10):
    print(n, factorial(n+1))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

In [2]:
# Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.

for i in range(1,11):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [3]:
# Write a script that prints the multiples of 7 between 0 and 100. Print one multiple per line and avoid printing any numbers that aren't multiples of 7. Remember that 0 is also a multiple of 7.

print()

In [4]:
x=0
mul=7
while x<=100:
    print(x)
    x += mul

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [5]:
# The retry function tries to execute an operation that might fail, it retries the operation for a number of attempts.  Currently the code will keep executing the function even if it succeeds. Fill in the blank so the code stops trying after the operation succeeded.

def retry(operation, attempts):
  for n in range(attempts):
    if operation():
      print("Attempt " + str(n) + " succeeded")
    ___
    else:
      print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

SyntaxError: invalid syntax (<ipython-input-5-f9c5aaefcf80>, line 8)

In [8]:
def retry(operation, attempts):
    for n in range(attempts):
        if operation():
            print("Attempt " + str(n) + " succeeded")
            break
        else:
            print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

NameError: name 'create_user' is not defined

In [9]:
def retry(operation, attempts):
    for n in range(attempts):
        if operation():
            print("Attempt " + str(n) + " succeeded")
            break
        else:
            print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

NameError: name 'create_user' is not defined

In [12]:
def factorial(n):
    print("Factorial called with " + str(n))
    if n < 2:
        print("Returning 1")
        return 1
    result = n*factorial(n-1)
    print("Returning " + str(result) + " for factorial of " + str(n))
    return result
factorial(4)

Factorial called with 4
Factorial called with 3
Factorial called with 2
Factorial called with 1
Returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
Returning 24 for factorial of 4

24

In [ ]:
def sum_positive_numbers(n):    
    # The base case is n being smaller than 1
    if n < 1:
        return ___

    # The recursive case is adding this number to 
    # the sum of the numbers smaller than this one.
    return ___ + sum_positive_numbers(___)

print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

In [10]:
def sum_positive_numbers(n):
    # The base case is n being smaller than 1
    if n < 1:
        return n

    # The recursive case is adding this number to 
    # the sum of the numbers smaller than this one.
    return n + sum_positive_numbers(n-1)

print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

6
15

# Recursion in action in the IT Context

In [14]:
def is_power_of(number, base):
    # Base case: when number is smaller than base.
    if number < base:
        # If number is equal to 1, it's a power (base**0).
        return number == 1

    # Recursive case: keep dividing number by base.
    return is_power_of(number//base, base)

print(is_power_of(8,2)) # Should be True
print(is_power_of(64,4)) # Should be True
print(is_power_of(70,10)) # Should be False

True
True
False