In [1]:
#import the package "Pandas" into Jupyter Notebook
import pandas as pd

In [2]:
#We import the stock data of Facebook into Jupyter Notebook. The CSV file is located in the folder called "Data" in your Workspace
#We then name the DataFrame name as 'fb'
#fb = yf.DataFrame.from_csv('../data/facebook.csv')
#fb.head()

In [3]:
# yahoo finance is used to fetch data
import yfinance as yf
#See the yahoo finance ticker for your stock symbol
stock_symbol = 'FB'
# Read data
fb = yf.download('FB', '2016-10-01', '2021-11-30', auto_adjust=True)
fb.tail()

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close    Volume
Date
2021-11-22  349.049988  353.829987  340.510010  341.010010  27116800
2021-11-23  338.929993  341.399994  333.500000  337.250000  17225000
2021-11-24  336.000000  341.779999  332.809998  341.059998  13566200
2021-11-26  335.799988  337.750000  331.899994  333.119995  14750700
2021-11-29  336.890015  340.670013  335.309998  338.029999  16629200

In [4]:
ms = yf.download('MSFT', '2020-10-01', '2021-11-30', auto_adjust=True)
ms.tail()

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close    Volume
Date
2021-11-22  344.619995  349.670013  339.549988  339.829987  31031100
2021-11-23  337.049988  339.450012  333.559998  337.679993  30427600
2021-11-24  336.279999  338.160004  333.910004  337.910004  21661300
2021-11-26  334.350006  337.929993  328.119995  329.679993  24217200
2021-11-29  334.940002  339.029999  334.739990  336.630005  28534600

In [5]:
ms1 = yf.download('MSFT', auto_adjust=True)
ms1.tail()

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close    Volume
Date
2021-11-22  344.619995  349.670013  339.549988  339.829987  31031100
2021-11-23  337.049988  339.450012  333.559998  337.679993  30427600
2021-11-24  336.279999  338.160004  333.910004  337.910004  21661300
2021-11-26  334.350006  337.929993  328.119995  329.679993  24217200
2021-11-29  334.940002  339.029999  334.739990  336.630005  28534600

In [6]:
print(ms.iloc[0, 0])

205.46529628839568

In [7]:
print(ms1.iloc[0, 0])

0.0558984901507837

In [8]:
ms.info

<bound method DataFrame.info of                   Open        High         Low       Close    Volume
Date
2020-09-30  205.465296  209.668962  204.288267  208.036957  33829100
2020-10-01  211.162507  211.657056  209.016167  210.143738  27158400
2020-10-02  205.732358  208.689766  203.299170  203.942093  33154800
2020-10-05  204.960873  208.116098  204.723484  208.086426  21331600
2020-10-06  206.543424  207.888583  202.587033  203.665146  28554300
...                ...         ...         ...         ...       ...
2021-11-22  344.619995  349.670013  339.549988  339.829987  31031100
2021-11-23  337.049988  339.450012  333.559998  337.679993  30427600
2021-11-24  336.279999  338.160004  333.910004  337.910004  21661300
2021-11-26  334.350006  337.929993  328.119995  329.679993  24217200
2021-11-29  334.940002  339.029999  334.739990  336.630005  28534600

[294 rows x 5 columns]>

In [9]:
print(ms.iloc[293, 0])

334.94000244140625

In [10]:
ms1.info

<bound method DataFrame.info of                   Open        High         Low       Close      Volume
Date
1986-03-13    0.055898    0.064119    0.055898    0.061378  1031788800
1986-03-14    0.061378    0.064667    0.061378    0.063570   308160000
1986-03-17    0.063570    0.065215    0.063570    0.064667   133171200
1986-03-18    0.064667    0.065215    0.062474    0.063022    67766400
1986-03-19    0.063022    0.063570    0.061378    0.061926    47894400
...                ...         ...         ...         ...         ...
2021-11-22  344.619995  349.670013  339.549988  339.829987    31031100
2021-11-23  337.049988  339.450012  333.559998  337.679993    30427600
2021-11-24  336.279999  338.160004  333.910004  337.910004    21661300
2021-11-26  334.350006  337.929993  328.119995  329.679993    24217200
2021-11-29  334.940002  339.029999  334.739990  336.630005    28534600

[9003 rows x 5 columns]>

In [11]:
print(ms1.iloc[9002, 0])

334.94000244140625

# Data Attributes

In [12]:
fb.index
fb.index[0]
fb.index[-1]

Timestamp('2021-11-29 00:00:00')

In [13]:
fb.index

DatetimeIndex(['2016-09-30', '2016-10-03', '2016-10-04', '2016-10-05',
               '2016-10-06', '2016-10-07', '2016-10-10', '2016-10-11',
               '2016-10-12', '2016-10-13',
               ...
               '2021-11-15', '2021-11-16', '2021-11-17', '2021-11-18',
               '2021-11-19', '2021-11-22', '2021-11-23', '2021-11-24',
               '2021-11-26', '2021-11-29'],
              dtype='datetime64[ns]', name='Date', length=1300, freq=None)

In [14]:
fb.index[0]

Timestamp('2016-09-30 00:00:00')

In [15]:
fb.index[-1]

Timestamp('2021-11-29 00:00:00')

In [16]:
fb.shape

(1300, 5)

In [17]:
fb.describe()

              Open         High          Low        Close        Volume
count  1300.000000  1300.000000  1300.000000  1300.000000  1.300000e+03
mean    206.576177   208.983054   204.181623   206.661646  2.045759e+07
std      65.711376    66.548498    64.922093    65.735831  1.238951e+07
min     114.480003   116.480003   113.550003   115.050003  6.046300e+06
25%     162.542503   165.007496   160.834999   162.867496  1.328928e+07
50%     183.855003   185.779999   182.159996   184.190002  1.732210e+07
75%     253.864994   256.385002   249.049999   252.814999  2.328498e+07
max     381.679993   384.329987   378.809998   382.179993  1.698037e+08

# Slicicng DataFrame
### Selection by label
.loc
### Selection by position
.iloc

Selection by label (.loc)

In [18]:
fb.loc['2021-11-29', 'Close']

338.0299987792969

In [19]:
fb.loc['2021-1-29', 'Close']

258.3299865722656

Selection by position (.iloc)

In [20]:
fb.iloc[1,3]

128.77000427246094

Find close price between 2015-1-29 and 2021-11-29

In [21]:
fb.loc['2015-1-29':'2021-11-29','Close']

Date
2016-09-30    128.270004
2016-10-03    128.770004
2016-10-04    128.190002
2016-10-05    128.470001
2016-10-06    128.740005
                 ...
2021-11-22    341.010010
2021-11-23    337.250000
2021-11-24    341.059998
2021-11-26    333.119995
2021-11-29    338.029999
Name: Close, Length: 1300, dtype: float64

Slicing Multiple columns

In [22]:
fb.iloc[624: , : ]

                  Open        High         Low       Close    Volume
Date
2019-03-27  167.850006  168.940002  164.789993  165.869995  10620300
2019-03-28  164.570007  166.720001  163.330002  165.550003  10443000
2019-03-29  166.389999  167.190002  164.809998  166.690002  13455500
2019-04-01  167.830002  168.899994  167.279999  168.699997  10381500
2019-04-02  170.139999  174.899994  169.550003  174.199997  23946500
...                ...         ...         ...         ...       ...
2021-11-22  349.049988  353.829987  340.510010  341.010010  27116800
2021-11-23  338.929993  341.399994  333.500000  337.250000  17225000
2021-11-24  336.000000  341.779999  332.809998  341.059998  13566200
2021-11-26  335.799988  337.750000  331.899994  333.119995  14750700
2021-11-29  336.890015  340.670013  335.309998  338.029999  16629200

[676 rows x 5 columns]

# Visualizing Stock Price

In [23]:
fb.loc['2015-1-1':'2015-12-31','Close'].plot() # 2015
fb.loc['2016-1-1':'2016-12-31','Close'].plot() # 2016
fb.loc['2017-1-1':'2017-12-31','Close'].plot() # 2017
fb.loc['2018-1-1':'2018-12-31','Close'].plot() # 2018
fb.loc['2019-1-1':'2019-12-31','Close'].plot() # 2019
fb.loc['2020-1-1':'2020-12-31','Close'].plot() # 2020
fb.loc['2021-1-1':'2021-12-31','Close'].plot() # 2021