In [1]:
x=["Now","We","are","cooking!"]
type(x)

list

In [2]:
print(x)

['Now', 'We', 'are', 'cooking']

In [3]:
len(x) # Number of elements

4

In [4]:
"are" in x

True

In [5]:
"Today" in x

False

In [6]:
# Indexing to access indevidual elements

In [7]:
print(x[0])

Now

In [8]:
print(x[3])

cooking

In [9]:
print(x[4])

IndexError: list index out of range

In [10]:
x[1:3]

['We', 'are']

In [11]:
x[:2]

['Now', 'We']

In [12]:
x[2:]

['are', 'cooking']

Using the "split" string method from the preceding lesson, complete the get_word function to return the {n}th word from a passed sentence. For example, get_word("This is a lesson about lists", 4) should return "lesson", which is the 4th word in this sentence. Hint: remember that list indexes start at 0, not 1.

In [ ]:
def get_word(sentence, n):
    # Only proceed if n is positive 
    if n > 0:
        words = ___
        # Only proceed if n is not more than the number of words 
        if n <= len(words):
            return(___)
    return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

In [18]:
def get_word(sentence, n):

    # Only proceed if n is positive
    if n > 0 :
        words = sentence.split()
        # Only proceed if n is not more than the number of words
        if n <= len(words) :
            return words[n-1]
    return("")


print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

In [27]:
def get_word(sentence, n):
        # Only proceed if n is not more than the number of words
        sentence = sentence.split(" ")
        if n <= len(sentence) and n>0:
            return(sentence[n-1])  
        else:
            return ""

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

# Modifying the Content of a List

In [32]:
fruits=["Pinapple","Banana", "Apple", "Melon"]

In [33]:
fruits.append("Kiwi")   # Add new item
print(fruits)

['Pinapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [34]:
fruits.insert(0, "Orange")   # Add new item at the beginning of the list
print(fruits)

['Orange', 'Pinapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

In [35]:
fruits.insert(25, "Peach")   # Add new item at the large number of the list
print(fruits)

['Orange', 'Pinapple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Peach']

In [36]:
fruits.remove("Melon")   # Remove new item
print(fruits)

['Orange', 'Pinapple', 'Banana', 'Apple', 'Kiwi', 'Peach']

In [40]:
fruits.remove("Apple")
fruits

['Orange', 'Pinapple', 'Banana', 'Kiwi']

In [41]:
fruits.pop(3)

'Kiwi'

In [42]:
print(fruits)

['Orange', 'Pinapple', 'Banana']

In [44]:
fruits[2]="Strawberry"   # Replace the particular place
fruits

['Orange', 'Pinapple', 'Strawberry']

The skip_elements function returns a list containing every other element from an input list, starting with the first element. Complete this function to do that, using the for loop to iterate through the input list.

In [ ]:
def skip_elements(elements):
    # Initialize variables
    new_list = []
    i = 0

    # Iterate through the list
    for ___
        # Does this element belong in the resulting list?
        if ___
            # Add this element to the resulting list
            ___
        # Increment i
        ___

    return ___

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

In [45]:
def skip_elements(elements):
    # Initialize variables
    new_list = []
    i = 0

    # Iterate through the list
    for x in elements:
        # Does this element belong in the resulting list?
        if i % 2 == 0:
            # Add this element to the resulting list
            new_list.append(x)
        # Increment i
        i += 1

    return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

# Lists and Tuples

In [46]:
def convert_seconds(seconds):
    hours=seconds // 3600          # // Floor Division
    minutes=(seconds-hours*3600) // 60
    remaining_seconds=seconds-hours*3600-minutes*60
    return hours,minutes,remaining_seconds

In [48]:
result=convert_seconds(5000)
result

(1, 23, 20)

In [49]:
type(result)

tuple

In [50]:
hours,minutes,seconds = result
print(hours,minutes,seconds)

1 23 20

In [51]:
hours,minutes,seconds=convert_seconds(1000)
print(hours,minutes,seconds)

0 16 40

Let's use tuples to store information about a file: its name, its type and its size in bytes. Fill in the gaps in this code to return the size in kilobytes (a kilobyte is 1024 bytes) up to 2 decimal places.

In [ ]:
def file_size(file_info):
    ___, ___, ___= file_info
    return("{:.2f}".format(___ / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

In [53]:
def file_size(file_info):
    name, type, size = file_info
    return("{:.2f}".format( size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

In [55]:
animals = ["Lion", "Zebra", "Dolfin", "Monkey"]
chars =0
for animal in animals:
    chars +=len(animal)
print("Total characters: {}, Average length: {}".format(chars,chars/len(animals)))

Total characters: 21, Average length: 5.25

In [54]:
winners = ["Ashley", "Dylan", "Reese"]
for index,person in enumerate(winners):
    print("{} - {}".format(index +1, person))

1 - Ashley
2 - Dylan
3 - Reese

Try out the enumerate function for yourself in this quick exercise. Complete the skip_elements function to return every other element from the list, this time using the enumerate function to check if an element is on an even position or an odd position.

In [ ]:
def skip_elements(elements):
    # code goes here
    
    return ___

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

In [56]:
def skip_elements(elements):
    # code goes here
    x = []
    for i, j in enumerate(elements):
        if i % 2 == 0:
            x.append(j)
    return x
    
print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [57]:
def full_emails(people):
    result =[]
    for email,name in people:
        result.append("{}<{}>".format(name,email))
    return result
print(full_emails([("alex@example.com","Alex Diego"),("shay@example.com","Shay Brandt")]))

['Alex Diego<alex@example.com>', 'Shay Brandt<shay@example.com>']

# List Comprehensions

In [58]:
multiples=[]
for x in range(1,11):
    multiples.append(x*7)
    
multiples

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [59]:
multiples=[x*7 for x in range(1,11)]
multiples

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [61]:
languages = ["Python","Perl","Ruby","Go","Java","C"]
lengths=[len(language) for language in languages]
lengths

[6, 4, 4, 2, 4, 1]

In [62]:
z=[x for x in range(0,101) if x % 3 == 0]
z

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

The odd_numbers function returns a list of odd numbers between 1 and n, inclusively. Fill in the blanks in the function, using list comprehension. Hint: remember that list and range counters start at 0 and end at the limit minus 1.

In [ ]:
def odd_numbers(n):
    return [x for x in ___ if ___]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

In [72]:
def odd_numbers(n):
    return [x for x in range(1,n+1) if x % 2 == 1]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

In [73]:
def odd_numbers(n):
    return [x for x in range(1,n+1) if x % 2 != 0]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

# Quiz List

Given a list of filenames, we want to rename all the files with extension hpp to the extension h. To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. Fill in the blanks in the code using any of the methods you’ve learned thus far, like a for loop or a list comprehension.

In [ ]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
___  

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

In [75]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames=[file.replace(".hpp",".h") for file in filenames] 

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Let's create a function that turns text into pig latin: a simple text transformation that modifies each word moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.

In [ ]:
def pig_latin(text):
    say = ""
    # Separate the text into words
    words = ___
    for word in words:
    # Create the pig latin word and add it to the list
    ___
    # Turn the list back into a phrase
    return ___
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

In [78]:
def pig_latin(text):
    say = ""
    # Separate the text into words
    words = text.split()
    for word in words:
    # Create the pig latin word and add it to the list
        pig_latin_word = word[1:] + word[0] + 'ay'
        say += ' ' + pig_latin_word
        # Turn the list back into a phrase
    return say

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

 ellohay owhay reaay ouyay
 rogrammingpay niay ythonpay siay unfay

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
For example: 
640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"
755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"
Fill in the blanks to make the code convert a permission in octal format into a string format.

In [ ]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for ___ in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if ___ >= value:
                result += ___
                ___ -= value
            else:
                ___
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

In [79]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for digit in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if digit >= value:
                result += letter
                digit -= value
            else:
                result += "-"
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [ ]:
def group_list(group, users):
    members = ___
    return ___

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

In [80]:
def group_list(group, users):
    members = ', '.join(users)
    return '{}:{}'.format(group, ' ' + members)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that.

In [ ]:
def guest_list(guests):
    for ___:
        ___
        print(___.format(___))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

In [11]:
def guest_list(guests):
    for name, age, profession in guests:
        print("{} is {} years old and works as {}".format(name, age, profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code

# Output should match:
# Ken is 30 years old and works as Chef
# Pat is 35 years old and works as Lawyer
# Amanda is 25 years old and works as Engineer

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

In [12]:
def guest_list(guests):
    for name, age, profession in guests:
    
        print(f"{name} is {age} years old and works as {profession}".format(name, age, profession))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'