Want to give it a go yourself? Be my guest! Modify the first_and_last function so that it returns True if the first letter of the string is the same as the last letter of the string, False if they’re different. Remember that you can access characters using message[0] or message[-1].
Be careful how you handle the empty string, which should return True since nothing is equal to nothing.

In [1]:
def first_and_last(message):
    if not message:
        return True
    elif (message[0] == message[-1]):
        return True
    else:
        return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [2]:
message="A kong string with a silly typo"

In [3]:
# Let's change the third character k with l

message[2]="l"

TypeError: 'str' object does not support item assignment

In [4]:
new_message=message[:2]+ "l" +message[3:]
new_message

'A long string with a silly typo'

In [1]:
message="This is a new message"
print(message)

This is a new message

In [3]:
message="And another one"
message

'And another one'

In [7]:
word = "supercalifragilisticexpialidocious"
word.index("x")

21

In [8]:
pets="Cats & Dogs"
print(pets.index("&"))

5

In [10]:
print(pets.index("C"))
print(pets.index("Dog"))
print(pets.index("s"))

0
7
3

In [11]:
print(pets.index("x"))

ValueError: substring not found

In [12]:
"Dragons" in pets

False

In [13]:
"Cats" in pets

True

In [14]:
# Function to replace the old email with new email

In [15]:
def replace_domain(email,old_domain,new_domain):
    if "@" + old_domain in email:
        index=email.index("@" + old_domain)
        new_email=email[:index] + "@" +new_domain
        return new_domain
    return email

In [16]:
# More on String Methods

In [17]:
"Mountains".upper()

'MOUNTAINS'

In [18]:
"Mountains".lower()

'mountains'

In [19]:
answer="yes"
if answer.lower()=="yes":
    print("User said yes")

User said yes

In [20]:
" yes ".strip() # elliminate both side space

'yes'

In [21]:
" yes ".lstrip() # elliminate left side space

'yes '

In [22]:
" yes ".rstrip() # elliminate right side space

' yes'

In [23]:
"The number of times e occur in this string is 4".count("e") # .count method to calculate the substring count

4

In [24]:
"Forest".endswith("rest")

True

In [25]:
"Forest".isnumeric()  # string is madeup of just numbers

False

In [26]:
"12345".isnumeric()  # string is madeup of just numbers

True

In [27]:
int("12345") + int("54321")  # int function to convert it into actual number

66666

In [28]:
" ".join(["This","is","a","phrase","joined","by","spaces"]) # we can use the join function to concatenate two strings

'This is a phrase joined by spaces'

In [29]:
"...".join(["This","is","a","phrase","joined","by","triple","dots"]) # we can use the join function to concatenate two strings

'This...is...a...phrase...joined...by...triple...dots'

In [30]:
"This is a phrase joined by spaces".split()

['This', 'is', 'a', 'phrase', 'joined', 'by', 'spaces']

In [31]:
# Q. Fill in the gaps in the initials function so that it returns the initials of the words contained in the phrase 
# received, in upper case. For example: "Universal Serial Bus" should return "USB"; "local area network" should return "LAN”.


def initials(phrase):
    words = phrase.___
    result = ""
    for word in words:
        result += ___
    return ___

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

AttributeError: 'str' object has no attribute '___'

In [32]:
def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0].upper()
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

# Formating a string

In [33]:
name="Manny"
number=len(name)*3
print("Hello {}, your lucky number is {}".format(name,number))

Hello Manny, your lucky number is 15

In [34]:
# Alternate of above

print("Your lucky number is {number}, {name}.".format(name=name,number=len(name)*3))

Your lucky number is 15, Manny.

In [35]:
def student_grade(name, grade):
	return ""

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

In [36]:
def student_grade(name, grade):
    return ("{} recieved {}% on the exam.".format(name, grade))

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed recieved 80% on the exam.
Paige recieved 92% on the exam.
Jesse recieved 85% on the exam.

In [38]:
def student_grade(name, grade):
        return "{name} received {grade}% on the exam".format (name= name , grade=grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [40]:
price = 7.5
with_tax =price*1.09
print(price,with_tax)

7.5 8.175

In [42]:
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))   # {:.2f} seperate the previous and two decimal place

Base price: $7.50. With Tax: $8.18

In [45]:
def to_celsius(x):
    return (x-32)*5/9
for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [44]:
def to_celsius(x):
    return (x-32)*5/9
for x in range(0,101,10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [46]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

"""Outputs:
this is an example of using the format() method on a string
"""

this is an example of using the format() method on a string

'Outputs:\nthis is an example of using the format() method on a string\n'

In [47]:
# "{0} {1}".format(first, second)

first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

"""Outputs:
apple carrot banana
"""

apple carrot banana

'Outputs:\napple carrot banana\n'

In [48]:
# "{var1} {var2}".format(var1=value1, var2=value2)

# Quiz

The is_palindrome function checks if a string is a palindrome. A palindrome is a string that can be equally read from left to right or right to left, omitting blank spaces, and ignoring capitalization. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". Fill in the blanks in this function to return True if the passed string is a palindrome, False if not.

In [ ]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for ___:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if ___:
			new_string = ___
			reverse_string = ___
	# Compare the strings
	if ___:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

In [51]:
def is_palindrome(input_string):
    # We'll create two strings, to compare them
    new_string = ""
    reverse_string = ""
    # Traverse through each letter of the input string
    for letter in input_string.lower():
        # Add any non-blank letters to the 
        # end of one string, and to the front
        # of the other string. 
        if letter.isalpha():
            new_string = new_string + letter
            reverse_string = letter + reverse_string
    # Compare the strings
    if new_string == reverse_string:
        return True
    return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km".

In [52]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {___} km".___
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

AttributeError: 'str' object has no attribute '___'

In [53]:
def convert_distance(miles):
    km = miles * 1.6 
    result = "{} miles equals {:.1f} km".format(miles,km)
    return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."

In [ ]:
def nametag(first_name, last_name):
    return("---".format(----))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

In [56]:
def nametag(first_name, last_name):
    return("{} {}.".format(first_name,last_name[0]))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

The replace_ending function replaces the old string in a sentence with the new string, but only if the sentence ends with the old string. If there is more than one occurrence of the old string in the sentence, only the one at the end is replaced, not all of them. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [ ]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if ___:
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = ___
		new_sentence = ___
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

In [57]:
def replace_ending(sentence, old, new):
    # Check if the old string is at the end of the sentence 
    if sentence.endswith(old):
        # Using i as the slicing index, combine the part
        # of the sentence up to the matched string at the 
        # end with the new string
        i = len(old)
        new_sentence = sentence[:-i] + new
        return new_sentence

    # Return the original sentence if there is no match 
    return sentence
    
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April