# The Python Programming Language - Functions

### add_numbers - the function that takes two numbers and add them together

In [1]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

In [2]:
def add_numbers(x,y):
    return x+y

add_numbers(3,5)

8

In [3]:
add_numbers(4,5)

9

### add_numbers updated to take an optional 3rd parameter. Using print allows printing of multiple expressions within a single cell

In [4]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [5]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(3,5))
print(add_numbers(3,5,8))

8
16

## Flag Parameter
### add_numbers update to take an optional flag parameter

In [6]:
def add_numbers(x,y,z=None,flag=False):
    if (flag):
        print('Flag is True!')
    if (z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1,2,flag=True))

Flag is True!
3

### Assign variable to add_function

In [7]:
def add_numbers(x,y):
    return x+y

a=add_numbers

a(1,2)

3

# The Python Programming Language: Types and Sequences

In [8]:
https://github.com/chinmaykumar06/Coursera-Introduction-to-Data-Science-in-Python/blob/master/Practice/Week1.ipynb

SyntaxError: invalid syntax (<ipython-input-8-ed392b543777>, line 1)

In [10]:
https://github.com/Qian-Han/coursera-Applied-Data-Science-with-Python/blob/master/Applied-Text-Mining-in-Python/Week2/Basic%20NLP%20Tasks%20with%20NLTK.ipynb

SyntaxError: invalid syntax (<ipython-input-10-94a45bd63c47>, line 1)

In [11]:
type("This is string")

str

In [12]:
type(None)

NoneType

In [13]:
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type(add_numbers)

function

### Tuples
Tuples are immutable data structure (it cannot be altered)

In [16]:
x=[1,'a',2,'b']
type(x)

list

### append 
use append to append an object to a list

In [17]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

### How to loop each item in the list

In [18]:
for item in x:
    print(item)

1
a
2
b
3.3

### This can also be done by indexing

In [19]:
i=0
while(i !=len(x)):
    print(x[i])
    i=i+1

1
a
2
b
3.3

### Concatenation of list

In [20]:
[1,2]+[3,4]

[1, 2, 3, 4]

### Use * to repeat the list

In [21]:
[1]*3

[1, 1, 1]

### in operator
Use in operator to check something is inside a list or not

In [22]:
1 in [1,2,3,4]

True

# Slice a string

### use bracket notation to slice a string

In [23]:
x='This is a string'

print(x[0])     # first character

T

In [24]:
print(x[0:1])     # first character, but we can explicitly set the end character
print(x[0:3])     # first three character

T
Thi

In [25]:
x[-1]            # last character

'g'

In [26]:
x[-4:-2]          # This will slice fourth element from the end and stop before the 2nd element from the end

'ri'

In [27]:
x[:3]              # Slice from the begining and stopping before 3ed element

'Thi'

In [28]:
x[3:]               # Slice starting from 4th element to end

's is a string'

### Concatenation in string

In [29]:
firstname = 'Veer'
lastname = 'Singh'

print(firstname + ' ' + lastname)

Veer Singh

In [30]:
print(firstname*3)
print('V' in firstname)

VeerVeerVeer
True

### Split list for specific words

In [31]:
firstname = 'Veer is a student of Imperial College of London'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Veer is a student of Imperial College of London'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Veer
London

### Make sure to convert objects to strings before concatenation

In [32]:
'Veer' + 2

TypeError: can only concatenate str (not "int") to str

In [33]:
'Veer' + str(2)

'Veer2'

# Dictionaries

In [34]:
x = {'Veer Singh': 'veer.vsps@gmail.com', 'Hema Singh': 'hemasagarsingh@gmail.com'}

x['Veer Singh'] # Retrieve a value by using the indexing operator

'veer.vsps@gmail.com'

In [35]:
x['Hema Singh']

'hemasagarsingh@gmail.com'

In [36]:
x['Amitabh Bachhan']= None

x['Amitabh Bachhan']

### Iterate over all the keys

In [37]:
for name in x:
    print(x[name])

veer.vsps@gmail.com
hemasagarsingh@gmail.com
None

### Iterate over all of the values

In [38]:
for email in x.values():
    print(email)

veer.vsps@gmail.com
hemasagarsingh@gmail.com
None

### Iterate over all of the items in the list

In [39]:
for name, email in x.items():
    print(name)
    print(email)

Veer Singh
veer.vsps@gmail.com
Hema Singh
hemasagarsingh@gmail.com
Amitabh Bachhan
None

### Unpack a sequence into different variables

In [40]:
y={'Veer','Singh','veer.vsps@gmail.com'}

fname, lname,  email = y

In [41]:
fname

'veer.vsps@gmail.com'

In [42]:
lname

'Veer'

In [43]:
email

'Singh'

### Remark : the number of values that we unpacked must match the number of variables that being assign

In [44]:
y={'Veer','Singh','veer.vsps@gmail.com','Hema Singh'}

fname, lname,  email = y

ValueError: too many values to unpack (expected 3)

# More on String

### String formatting

In [45]:
sales_record={
    'price':3.25,
    'num_items':6,
    'person':'Veer'}

sales_statement='{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Veer bought 6 item(s) at a price of 3.25 each for a total of 19.5

# Reading and Writing CSV Files

In [ ]:
import csv

%precision 2

with open('Cars Data1.csv') as csvfile:
    car = list(csv.DictReader(csvfile))
    
car[:3] # The first three dictionaries in our list.

In [ ]:
len(car)

### Use keys() to find the columns

In [ ]:
car[0].keys()

### Average city fuel economy across all Cars - Since all values in the dic are string so we need to convert to float

In [ ]:
sum(float(d['MPG_City']) for d in car)/len(car)

# The Python Programming Language: dates and Times

In [46]:
import datetime as dt
import time as tm

### Time returns the current time in seconds since the Epoch. (January 1st, 1970)

In [47]:
tm.time()

1633682345.4478245

### Convert the timestamp to datetime

In [50]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 10, 8, 14, 11, 27, 91606)

### Handy Datetime attribute

In [51]:
dtnow.year, dtnow.month, dtnow.hour, dtnow.minute, dtnow.second

(2021, 10, 14, 11, 27)

### Timedelta is a duration expressing the difference between two dates

In [52]:
delta=dt.timedelta(days=100)    # Create a timedelta of 100 days
delta

datetime.timedelta(days=100)

###  'date.today'  returns the current local date

In [53]:
today=dt.date.today()

In [54]:
today - delta    # the date 100 days ago

datetime.date(2021, 6, 30)

In [55]:
today>today-delta     # Compare dates

True

# The Python Programming Language - Objects and map()

### Class in python

In [56]:
class Person:
    department='School of Information'    # A class variable
    
    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [57]:
person=Person()
person.set_name('Veer Singh')
person.set_location('Sector 23, New Delhi')

print('{} live in {} and works in department {}'.format(person.name, person.location, person.department))

Veer Singh live in Sector 23, New Delhi and works in department School of Information

### Mapping the min function between two lists

In [58]:
store1=[10.00,11.00,12.34,2.34]
store2=[9.00,11.10,12.34,2.01]

cheapest=map(min,store1,store2)
cheapest

In [59]:
# Let's iterate through the map object to see the values

for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [60]:
# try again

store1=[9.30,11.00,12.35,2.45]
store2=[10.00,11.10,12.34,2.10]

cheapest=map(min,store1,store2)
cheapest

for item in cheapest:
    print(item)

9.3
11.0
12.34
2.1

# The Python Programming Language - Lambda and List Comprehensions

In [61]:
my_function = lambda a, b, c : a + b

In [62]:
my_function(1,2,3)

3

In [63]:
# try again

my_function(2,4,6)

6

### Iterate 0 to 999 and return the even numbers

In [64]:
my_list=[]
for number in range(0,1000):
    if number % 2==0:             # If number is evenly divisible (no remainder) by 2
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

### Do the same thing but with list comprehension

In [65]:
my_list=[number for number in range(0,1000) if number % 2==0]

my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

# The Python Programming Language - Numerical Python(NumPy)

In [66]:
import numpy as np

### Create a list and convert it to a numpy array

In [67]:
my_list=[1,2,3]

x=np.array(my_list)

x

array([1, 2, 3])

### Or just pass a list directly

In [68]:
y=np.array([4,5,6])

y

array([4, 5, 6])

### Pass in a lists to create a multidimentional array

In [69]:
m=np.array([[7,8,9],[10,11,12]])

m

array([[ 7,  8,  9],
       [10, 11, 12]])

### Use shape method and find the dimesion of the array

In [70]:
m.shape

(2, 3)

### Arrange returns evenly spaced values within a given interval

In [72]:
n = np.arange(0,30,2)     # start at 0 count up by 2, stop before 30 

n

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

### Reshape returns an array with the same data with a new shape.

In [73]:
n=n.reshape(3,5)

n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [75]:
n.dtype

dtype('int32')